[aria-label="Channels"] [class*=containerDefault]:has([class*=link]) > div {
  --c: #c6208c; /* the border color */
  --b: 3px;    /* the border thickness*/
  --g: 0px;     /* the gap on hover */
  
  margin: 2px;

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top var(--b) right var(--b),var(--_g)) var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(at bottom var(--b) left  var(--b),var(--_g)) 0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .3s;
  border-radius: 3px;
}


[aria-label="Channels"] [class*=containerDefault]:has([class*=link]) > div:hover, [class*=modeUnreadImportant]
{
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

[aria-label="Channels"] [class*=containerDefault] [class*=link] { border-radius: 0; }
[class*=modeUnreadImportant] > div:last-child, [class*=modeSelected] > div > [class*=link] { background: #c6208c3d !important; }
[class*=modeSelected] { border: 3px solid rgb(0, 153, 255); }
[aria-label="Channels"] [class*=containerDefault]:has([class*=modeSelected]) > div { --c: 0 !important; }
[aria-label="Channels"] [class*=containerDefault]:has([class*=link]) [class*=wrapper] { margin-left: 0; }
