/* Vertical Profile */

/* [aria-label="User Profile Modal"]:has([class*=small])
[class*=userProfileModalInner] > [class*=body] {
    flex-direction: row !important;

    /* Username */
    [class*=fullSize] [class*=usernameRow_]:has([class*=nicknameIcons]) {
        justify-content: center !important;
        margin-bottom: -10px;
        margin-top: 20px;
        
        /* gap: 0 !important; */

        /* position: absolute; */
        /* top: 21%; */
        /* left: 28%; */

        [class*=heading] {
            font-size: 50px !important;
        }
    }

    [class*=fullSize] [class*=tags_]:has([class*=userTag]) {
        /* flex-direction: column !important; */
        justify-content: center;

        margin-top: 30px !important;
        padding-top: 10px;
        padding-bottom: 13px;
        padding-left: 5px;
        padding-right: 5px;

        background-color: var(--bg-mod-faint);
        border: 1px solid var(--border-faint);
        border-radius: 5px;
        
        gap: 100px;
    }

    [class*=pronouns] > [class*=dotSpacer] { 
        display: none !important;
    }
/* } */

/* Expand pfp */ 
[aria-label="User Profile Modal"]:has([class*=small])
[class*=headerInner] svg[class*=svg_] {
    height: calc(138px + 45%) !important;
    transform: translate(5px, -25px);

    circle{
        r: 10.6;
    }

    /* foreignObject {
        width: 100px;
        height: 100px;
    } */

    rect {
        width: 15px;
        height: 15px;
        x: 92.5;
        y: 92.5;
    }
} 

/* Resizers the status circle */
[id="svg-mask-avatar-status-mobile-120"] rect {
    width: 0.26px;
    height: 0.45px;
    x: 0.715px;
    y: 0.715;
}

[id="svg-mask-avatar-status-round-120"] circle:last-child {
    width: 0.26px;
    height: 0.45px;
    x: 0.715px;
    y: 0.715;
    r: 0.09;
}
 
/* Expands Avatar Decoration */
[aria-label="User Profile Modal"]:has([class*=small])
[class*=headerInner] svg[class*=avatarDecoration_] {
    height: calc(144px + 55%);
    width:  calc(162px + 55%);
    transform: translate(0px, -35px);
}

/* Expands height of user profile to hold full height */
[aria-label="User Profile Modal"]:has([class*=small])
[class*=outer_c69a7b ] {
    height: 75vh !important;
    width: 75vw !important;
}

/* Expands lower info section */
[aria-label="User Profile Modal"]:has([class*=small]) 
[class*=container]:has([class*=listScroller_]) [class*=listScroller] {
    height: 47vh !important;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* If there is over 3 display in 3's */
[aria-label="User Profile Modal"]:has([class*=small])
[aria-label="User Badges"]:has(> div:nth-child(n+3)) {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    justify-items: center !important;
}

/* If there is under 3 display in 2's */
[aria-label="User Profile Modal"]:has([class*=small])
[aria-label="User Badges"]:has(> div:nth-child(n+2)) {
    grid-template-columns: repeat(2, 1fr);
}

/* If more than 1 badge -> add 5px padding right */
[aria-label="User Badges"]:has(> div:nth-child(n+2)) {
    padding: 3px 5px 3px 3px !important;
}

/* If 1 badge -> add 6px padding right */
[aria-label="User Badges"]:has(> div:only-child) {
    padding: 3px 6px 3px 4px !important;
}

/* adds margin to space out info */
[class*=userPopoutInner] [aria-label="User Badges"] { margin-top: 10px; }

[aria-label="User Profile Modal"]:has([class*=small]) > [class*=userProfileOuter_] {
    height: max-content !important;
}

/* Vertical Menu Options */
[aria-label="User Profile Modal"]:has([class*=small])
[class*=fullSize] [class*=tabBar] {
    flex-direction: column !important;
    gap: 10px;
}

[aria-label="User Profile Modal"]:has([class*=small])
[class*=fullSize] [class*=overlay_] {
    width: 100%;
}

[aria-label="User Profile Modal"]:has([class*=small])
[class*=fullSize] [class*=themed_], /* Menu options */
[aria-label="User Profile Modal"]:has([class*=small])
[class*=fullSize] [class*=themed_]:hover,
[aria-label="User Profile Modal"]:has([class*=small])
[class*=fullSize] [class*=listRow], /* Displayed List */
[aria-label="User Profile Modal"]:has([class*=small])
[class*=fullSize] [class*=listRow]:hover {
    transition: all 500ms;
}

/* Moves Info Section Down */
[aria-label="User Profile Modal"]:has([class*=small])
[class*=body_] [class*=overlay_] {
    margin-top: 30px;
}

[class*=headerInner] > div:nth-child(2):has([class*=fullSize]) {
    position: relative;
    top: -10px;
    left: 50px;

    [class*=statusBubbleOuter]:before {
        left: -10px !important;
        top: 5px
    }

    [class*=statusBubbleOuter]:after {
        left: -30px !important;
        top: -5px
    }
}

[class*=usernameRow_] {
    z-index: 1000;
    top: 400px !important;
    left: 28% !important;
}

[aria-label="User Profile Modal"]:has([class*=small]) [class*=body_] [class*=overlay_], [class*=overlayBackground][class*=friendRequestBannerOverlay] {
    margin-top: 30px;
}

[class*=fullSizeOverlayBackground][class*=overlayBackground][class*=overlay] {
    height: auto;
}

/* User Badge */
[aria-label="User Badges"], [class*=statusBubbleOuter],
[class*=statusBubbleOuter]::before, [class*=statusBubbleOuter]::after {
    animation: badge-gradient 5s ease-in-out infinite !important;
}

@keyframes badge-gradient {
    0%   { border-color: #800080; } /* Purple */
    25%  { border-color: #9370DB; } /* Medium Purple */
    50%  { border-color: #BA55D3; } /* Medium Orchid */
    75%  { border-color: #DA70D6; } /* Orchid */
    100% { border-color: #800080; } /* Purple */
}

[aria-label="User Badges"] { padding: 3px 5px 3px 5px; }
[class*=userPopoutInner] [aria-label="User Badges"] { margin-top: 10px; }
