/**
 * @name steam
 * @author Jay
 * @version 1.0.0
 * @description Steam UI
 * @source https://github.com/maenDisease/Steam
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Steam
 * Credit Maendisease
*/

@import url('https://maendisease.github.io/Steam/Steam.css');
@import url('https://maendisease.github.io/Steam/addons/horizontalserverlist.css');

:root {
    --hue-shift: 0;
    --content-width: 940px;
    --message-width: 640px;
    --server-size: 28px;
    --custom-font: gg sans;
    --custom-font-code: monospace;
}

/* Any custom CSS below here */


