@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:wght@100&display=swap');

:root {
    --username-bg: url(//raw.githubusercontent.com/dwnas/assets/main/snippets/nameBackground/3.gif);
    --background-primary: rgba(0, 0, 0, 1);
    --background-secondary: rgba(0, 0, 0, 1);
    --background-tertiary: rgba(0, 0, 0, 1);
    --bg-overlay-2: rgba(0, 0, 0, 1);

    /* Text box border */
    --tb-bborder: rgb(145, 23, 139);
    --tb-bbg: #6027815b; 

    --feastables: url("https://cdn.discordapp.com/emojis/903587393439956993.webp?size=96&quality=lossless");
    --mr-beast: url("https://cdn.discordapp.com/emojis/1153814341909483612.gif?size=96&quality=lossless");
    --mr-beast-gaming: url("https://cdn.discordapp.com/emojis/1156300676159246377.gif?size=96&quality=lossless");

    /* COPY/PASTE EMOJI/GIF/IMAGE URL INTO url("")  */
    --nitro-booster: url("https://cdn.discordapp.com/emojis/885064358500122624.gif?size=96&quality=lossless");
    --hs-brilliance: url("https://cdn.discordapp.com/emojis/416072792665096194.webp?size=96&quality=lossless");
    --hs-balance: url("https://cdn.discordapp.com/emojis/586767475253706762.gif?size=96&quality=lossless");
    --hs-bravery: url("https://cdn.discordapp.com/emojis/923308064428421160.webp?size=96&quality=lossless");
    --hs-events: url("https://cdn.discordapp.com/emojis/526788200048361473.gif?size=96&quality=lossless");
    --og-known: url("https://cdn.discordapp.com/emojis/1150138661988483152.webp?size=96&quality=lossless");
    --active-dev: url("https://cdn.discordapp.com/emojis/1020664660392939591.webp?size=96&quality=lossless");
    --nitro-sub: url("https://cdn.discordapp.com/emojis/772469347918020608.webp?size=96&quality=lossless");
    --early-support: url("https://cdn.discordapp.com/emojis/763129544235810867.webp?size=96&quality=lossless");

    --font-primary: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    --font-display: "Fredoka", sans-serif !important;
    --font-headline: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    --font-code: "Fredoka", sans-serif !important;

    --status-danger: rgb(255, 82, 232) !important;
    --red-400: var(--status-danger); 

    --text-channel-icon:            url("https://cdn.discordapp.com/emojis/1000094452167225364.webp?size=96&quality=lossless");  /* Chat Bubble */
    --voice-channel-icon:           url("https://cdn.discordapp.com/emojis/912640343030251550.webp?size=96&quality=lossless"); /* Voice Call */
    --forum-channel-icon:           url("https://cdn.discordapp.com/emojis/1206262229767422053.gif?size=96&quality=lossless"); /* Sad Cat */
    --announcement-channel-icon:    url("https://cdn.discordapp.com/emojis/1052611391858684015.gif?size=96&quality=lossless"); /* Annou Icon */
    --stage-channel-icon:           url("https://cdn.discordapp.com/emojis/927623478482436096.webp?size=96&quality=lossless"); /* Sad Cat */
    --rules-channel-icon:           url("https://cdn.discordapp.com/emojis/813148174431944734.webp?size=128&quality=lossless"); /* Read the rules */

        /* NEON COLORS */
    --text-channel-neon:            rgb(253, 235, 79);
    --voice-channel-neon:           rgb(91, 199, 251);
    --forum-channel-neon:           rgb(233, 51, 147);
    --announcement-channel-neon:    rgb(236, 50, 83);
    --stage-channel-neon:           rgb(116, 251, 78);
    --rules-channel-neon:           rgb(111, 167, 96);

    /* OTHER NEON COLORS */
    --text-channel-neon-alt:        rgb(242, 201, 209);
    --voice-channel-neon-alt:       rgb(243, 182, 198);
    --forum-channel-neon-alt:       rgb(43, 176, 191);
    --announcement-channel-neon-alt:rgb(41, 89, 29);
    --stage-channel-neon-alt:       rgb(244, 200, 67);
    --rules-channel-neon-alt:       rgb(111, 167, 96);

    /* MUTE COLORS */
    --text-channel-mute:            rgb(149, 93, 63);
    --voice-channel-mute:           rgb(161, 195, 218);
    --forum-channel-mute:           rgb(195, 141, 79);
    --announcement-channel-mute:    rgb(167, 74, 67);
    --stage-channel-mute:           rgb(157, 164, 212);
    --rules-channel-mute:           rgb(158, 213, 151);

    /* PASTEL COLORS */
    --text-channel-pastel:          rgb(205, 180, 219);
    --voice-channel-pastel:         rgb(255, 200, 221);
    --forum-channel-pastel:         rgb(255, 175, 204);
    --announcement-channel-pastel:  rgb(189, 224, 254);
    --stage-channel-pastel:         rgb(162, 210, 255);
    --rules-channel-pastel:         rgb(204, 255, 193);

    /* OTHER PASTEL COLORS */
    --text-channel-pastel-alt:          rgb(235, 157, 162);
    --voice-channel-pastel-alt:         rgb(240, 184, 132);
    --forum-channel-pastel-alt:         rgb(232, 230, 165);
    --announcement-channel-pastel-alt:  rgb(187, 232, 181);
    --stage-channel-pastel-alt:         rgb(172, 187, 232);
    --rules-channel-pastel-alt:         rgb(197, 172, 232);

    /* LIGHT COLORS */
    --text-channel-light:          rgb(161, 154, 209);
    --voice-channel-light:         rgb(143, 194, 223);
    --forum-channel-light:         rgb(194, 224, 174);
    --announcement-channel-light:  rgb(239, 239, 168);
    --stage-channel-light:         rgb(237, 203, 156);
    --rules-channel-light:         rgb(217, 156, 165);

    /* OTHER LIGHT COLORS */
    --text-channel-light-alt:          rgb(237, 83, 21);
    --voice-channel-light-alt:         rgb(255, 185, 43);
    --forum-channel-light-alt:         rgb(254, 235, 81);
    --announcement-channel-light-alt:  rgb(155, 202, 62);
    --stage-channel-light-alt:         rgb(57, 187, 201);
    --rules-channel-light-alt:         rgb(103, 109, 203);
}
/* ---- */

/* Deafult button values */
[aria-label="Upload a file or send invites"], 
[aria-label="Send a gift"],
[class*=expression-picker-chat-input-button] > button,
[aria-label="Select emoji"] { 
    transition: all 0.3s ease-in-out;
}

/* buttons on hover */
[aria-label="Upload a file or send invites"]:hover,
[aria-label="Send a gift"]:hover,
[class*=expression-picker-chat-input-button] > button:hover { 
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

/*------*/
/* Main Message Bar */ 
form [class^=channelTextArea] [class*=textArea_] { 
    height: 370px !important;
    border-radius: 5px !important;
    margin: 5px !important;
    padding: 0 !important;
}

/* Global Scope For text box */
[class^=channelTextArea] [class^=placeholder] { margin-top: 7px; text-align: center; }

/* Background of Text Area */
[class^=channelTextArea] > div {
    background-color: var(--background-primary);
    cursor: text;
    border-top: 1px solid var(--status-danger);
    border-radius: 0 !important;
}

[class^=channelTextArea] [class*=textArea] > div > div > div:first-child {
    border-left: 2px solid var(--tb-bborder);
    border-right: 2px solid var(--tb-bborder);
    border-top: 2px solid var(--tb-bborder);

    border-radius: 5px 5px 0 0 !important;
}

/* For text of first child */
[class^=channelTextArea] [class*=textArea] > div > div > div:first-child,
form [class^=channelTextArea] [class*=textArea] > div > div > div:first-child
{ padding-top: 5px !important; }

/* For border text */
[class^=channelTextArea] [class*=textArea] > div > div > div {
    border-left: 2px solid var(--tb-bborder);
    border-right: 2px solid var(--tb-bborder);
}

/* For button border */
[class^=channelTextArea] [class*=textArea] > div > div > div:last-child {
    border-bottom: 2px solid var(--tb-bborder);
    border-radius: 0 0 5px 5px !important;

    padding-bottom: 5px !important;
}

/* For border bottom if first child present */
[class^=channelTextArea] [class*=textArea] > div > div > div:is(:first-child):last-child {
    border-radius: 5px !important;
}

/* For message text border */
[class^=channelTextArea] [class*=textArea] > div > div > div:first-child,
[class^=channelTextArea] [class*=textArea] > div > div > div,
[class^=channelTextArea] [class*=textArea] > div > div > div:last-child {   
    padding-left: 5px !important; padding-right: 5px !important;
    background-color: var(--tb-bbg);
    font-weight: 500;
}

/* Find out */
[aria-haspopup="dialog"]:has([class^=contents]) {
  position: relative !important;
  top: 0 !important;
}

/* Text Input Bar */
[class*=fontSize16Padding] { height: max-content; }

/* Buttons on message bar */
form [class^=channelTextArea] [class^=buttons] { 
    flex-direction: column;
    padding-top: 5px !important;
    padding-left: 8px !important;
    gap: 5px !important;
    position: absolute !important;
    top: 17% !important;
    align-items: cente !importantr;
}

/* For Main Group Buttons */
[class^=buttons]:has([class*=expression-picker-chat-input-button]) {
    border: 2px solid var(--tb-bborder);
    border-radius: 8px !important;
    padding: 10px 8px 10px 10px !important;
    background-color: var(--tb-bbg);
    height: max-content !important;
}

/* For Attachment Button || Note: moving does not affect other buttons only upload button */
[class*=attachWrapper] {
    border: 2px solid var(--tb-bborder);
    border-radius: 8px !important;
    margin: 10px 0px 0px 0px !important;
    background-color: var(--tb-bbg);
    height: fit-content !important;
}

/* Actual Function of Upload button */
[class*=attachWrapper] > button { margin-left: 0px !important; }

/* Moves buttons to left side */
[class*=sansAttachButton] {
    padding-left: 0px !important;
    width: 103% !important;
}

main[aria-label=" (channel)"] [class*=sansAttachButton] [class*=textArea] {
    display: flex !important;
    justify-content: center !important;
}

main[aria-label=" (channel)"] [class*=sansAttachButton] [class*=placeholder] {
    top: 30px !important;
}

main[aria-label=" (channel)"] [class*=sansAttachButton] [class*=slateTextArea] {
    padding-right: 0 !important;
    right: 0 !important;
}

main[aria-label=" (channel)"] [class*=sansAttachButton] {
    width: 100% !important;
}

/*-------*/

/* CHANGE SERVER ICON */
[aria-label="  Feastables"] > img, [aria-label="Happy Time Talk Groups, folder "] > [class*=folderIconWrapper] > [class*=closedFolderIconWrapper] > div:nth-child(1) {
    content: var(--feastables) !important;
    transform: scale(1);
}

[aria-label="  MrBeast"] > img, [aria-label="Happy Time Talk Groups, folder "] > [class*=folderIconWrapper] > [class*=closedFolderIconWrapper] > div:nth-child(2) {
    content: var(--mr-beast) !important;
    transform: scale(0.9);
}

[aria-label="  MrBeast Gaming"], [aria-label="Happy Time Talk Groups, folder "] > [class*=folderIconWrapper] > [class*=closedFolderIconWrapper] > div:nth-child(3) {
    content: var(--mr-beast-gaming) !important;
    transform: scale(1);
}

/* Moves Emoji/Sticker/Gifs Panel Up */
[class^=positionLayer__] {
  bottom: 70.5vh !important;
}

/* Resizes the panel to fit 90% of the screen - 1080 x 1920 */
[aria-label="Expression Picker"] > [class*=drawerSizingWrapper_] {
    height: 70vh !important; 
}

code { 
    background-color: #120b20 !important; 
    border: 1px solid #8e1e92 !important;
    border-radius: 5px !important;
}

/* chat field */           
[class*=contents]:has(img[src*="2"]) [class*=username],
/* memberlist */
/*[role*=list] :has(img[src*="2"]) [class*=name__],*/
/* settings profile card */
[class*=userText__] h1,
/* reviewdb */
.vc-rdb-view :has(img[src*="2"]) [class*=username],
/* replies */
[class*=repliedMessage]:has(img[src*="2"]) [class*=username]
{
    background-image: var(--username-bg) !important;
    text-shadow: 1px 1px 4px;
}

/* /// */

/* Add danger colours to dangerous user actions */
#user-context-close-dm,
#user-context-remove-friend,
#user-context-block {
    color: var(--status-danger)
}

#user-context-close-dm:active,
#user-context-remove-friend:active,
#user-context-block:active {
    background-color: var(--red-500) !important;
    color: var(--white-500) !important;
}

#user-context-close-dm[class*="focused-"],
#user-context-remove-friend[class*="focused-"],
#user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);
}

/* /// */
[aria-label="Members"] [class*=membersGroup] > span:last-child { 
    color: white;
}

[aria-label="Members"] [class*=membersGroup] > span {
    background-color: #2e2e2ea0;
    border-radius: 5px 5px 0px 0px !important;
    padding: 5px 6px 0px 6px !important;
    z-index: 1;
}

[aria-label="Members"] [class*=membersGroup] { z-index: 10 !important; }

[class*=listItem-] [class*=wrapper-2PSQCG],
[class*=listItem-] [class*=wrapper-] > svg > foreignObject {
    mask: none !important;
    border-radius: 5px !important;
}

/* /// */

/* Snipping nugget = Profile Decoration */
:is([class*=profileColors]:has([class*=avatarDecoration]):not(:has(img[src*=a_10b9f886b513b77ccdd67c8784f1a496], img[src*=a_fed43ab12698df65902ba06727e20c0e],
img[src*=a_d3da36040163ee0f9176dfe7ced45cdc])) :is([class*=nickname], [class*=container] [class*=text-lg-semibold]), [class*=contents]:has([class*=avatarDecoration]):not(:has(img[src*=a_10b9f886b513b77ccdd67c8784f1a496],
img[src*=a_fed43ab12698df65902ba06727e20c0e], img[src*=a_d3da36040163ee0f9176dfe7ced45cdc])) [class*=username_]) {
    display: inline-flex !important;
    align-items: center !important;
}

:is([class*=profileColors]:has([class*=avatarDecoration]):not(:has(img[src*=a_10b9f886b513b77ccdd67c8784f1a496], img[src*=a_fed43ab12698df65902ba06727e20c0e],
img[src*=a_d3da36040163ee0f9176dfe7ced45cdc])) :is([class*=nickname], [class*=container] [class*=text-lg-semibold]), [class*=contents]:has([class*=avatarDecoration]):not(:has(img[src*=a_10b9f886b513b77ccdd67c8784f1a496],
img[src*=a_fed43ab12698df65902ba06727e20c0e], img[src*=a_d3da36040163ee0f9176dfe7ced45cdc])) [class*=username_])::after {
    content: "" !important;
    display: inline-flex !important;
    width: 1em !important;
    height: 1em !important;
    margin-left: 4px !important;
    background: url("https://cdn.discordapp.com/emojis/802179444643070003.gif?size=128&quality=lossless") left/cover;
}

/* Tick = Nitro User */
:is([class*=contents]:has([class*=avatar_]):not(:has(img[src*="webp"])) [class*=username_]),
:is([class*=profileColors]:has([class*=container__]):not(:has(a[href="https://discord.com/settings/premium"])) :is([class*=nickname], [class*=container] [class*=text-lg-semibold])) { 
    display: inline-flex !important;
    align-items: center !important;
}

:is([class*=contents]:has([class*=avatar_]):not(:has(img[src*="webp"])) [class*=username_])::after { 
    content: "" !important;
    display: inline-flex !important;
    width: 1em !important;
    height: 1em !important;
    margin-left: 5px !important;
     
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="1.604 1.604 18.79 18.79"><path d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z" fill="rgb(29, 155, 240)"/></svg>') left/cover !important;
}

/* Tick = Profile Card */
:is([class*=profileColors]:has([class*=avatarDecoration]):not(:has(a[href="https://discord.com/settings/premium"])) :is([class*=nickname],
[class*=container] [class*=text-lg-semibold]))::after {
    content: "" !important;
    display: inline-flex !important;
    width: 1em !important;
    height: 1em !important;
    margin-left: 5px !important;
     
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="1.604 1.604 18.79 18.79"><path d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z" fill="rgb(29, 155, 240)"/></svg>') left/cover !important;
}

/* Square Server Icons */
[class*=listItem] [class*=wrapper],
[class*=listItem] [class*=wrapper] > svg > foreignObject {
    mask: none !important;
    border-radius: 5px !important;
}

/* 
*  Edit Profile Panel (at the bottom) and the Private Messaging area 
*  Closes DM Button
*  Bio Status
*/
[aria-label="Close DM"], [class*=tutorialContainer__6835f],
[class*=panelSubtextContainer],
[class*=channel]:has([class*=interactive]) [class*=closeButton]
{ display: none !important; }

[class*=sidebar]:has([aria-label="Private channels"]) {
  max-width: 6.1vw !important;
  border-right: 2px solid rgba(255, 255, 255, 0.096);
  border-left: 2px solid rgba(255, 255, 255, 0.096);
}

/* User Area */
[aria-label="User area"] {
    position: relative !important;
    top: -10px !important;
    left: 0 !important;
}

[class*=withTagAsButton] {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

[class*=sidebar]:has([aria-label="Private channels"]) [aria-label="User area"] [class*=noWrap] {
    flex-wrap: wrap !important;
}

[aria-label="User area"] [class*=container]:has([aria-label="Set Status"]) {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    height: fit-content !important;
    padding: 15px 0 10px 0 !important;
    background-color: rgba(0, 0, 0, 1) !important;
}

[class*=avatarWrapper] { margin-right: 0 !important; flex-direction: column !important; }
[class*=withTagAsButton] { margin-left: 0; padding-left: 6px !important; padding-top: 10px !important; }
[class*=withTagAsButton] [class*=nameTag], [class*=nameTag] { padding-left: 2px !important; }

[class*=sidebar]:has([aria-label*="(server)"]) > [aria-label="User area"] > div:nth-child(2) {
  border: 1px solid #636b7583;
  border-radius: 5px !important;
}

[class*=sidebar]:has([aria-label="Private channels"]) [aria-label="User area"] > div:nth-child(2), [class*=sidebar]:has([aria-label*="(server)"]) [aria-label="User area"] > div:nth-child(2) {
  border-top: 3px solid #23d5ab;
  animation: background-gradient 10s ease-in-out infinite !important;
}
/* //// */


img { border-radius: 5px !important; }
[class*=activity] img { border-radius: 2px !important; }

/* Gap between emojis */
[aria-label="User Badges"] { gap: 5px !important; }
[aria-label="User Badges"] > :nth-child(1) { padding-left: 2px !important; }
[aria-label="User Badges"] > :nth-child(1):is([aria-label*="#"]) { padding-left: 0 !important; }
[aria-label="User Badges"] > :nth-child(1):is([aria-label*="Supports"]) { padding-left: 0 !important; }

/* OG Known as */
[aria-label="User Badges"] [aria-label*="#"] > img { content: var(--og-known); }

/* HS Events */
[aria-label="User Badges"] [aria-label*="Events"] > img { content: var(--hs-events); }

/* HS Brilliance */
[aria-label="User Badges"] [aria-label*="Brilliance"] > img { content: var(--hs-brilliance); }

/* HS Balance */
[aria-label="User Badges"] [aria-label*="Balance"] > img { content: var(--hs-balance); }

/* Bravery */
[aria-label="User Badges"] [aria-label*="Bravery"] > img { content: var(--hs-bravery); }

/* Early Support */
[aria-label="User Badges"] [aria-label="Early Supporter"] > img { content: var(--early-support); }

/* Discord Dev */
[aria-label="User Badges"] [aria-label="Active Developer"] > img { content: var(--active-dev); }

/* Nitro Sub */
[aria-label="User Badges"] [aria-label*="Subscriber"] > img { content: var(--nitro-sub); }

/* Server Booster */
[aria-label="User Badges"] [aria-label*="Server Boosting"] > img { content: var(--nitro-booster); }

/* Private Messaging Scope */
[aria-label*="(channel)"] > div:nth-child(2):has([class*=blockedSystemMessage]):has([aria-label="Messages in "]) {
    background-color: rgba(194, 0, 0, 0.226);
}

/* Server Scope */
[class*=groupStart]:has([class*=blockedSystemMessage]) { background-color: rgba(194, 0, 0, 0.226);}
[class*=groupStart]:is([class*=expanded]) {
    background-color: rgba(128, 0, 0, 0.37) !important;
    padding-bottom: 10px !important;
}

/* Removes GIF from gifs */
[class*=imageContent__] > span { display: none !important; }

[class*=newMessagesBar], [class*=lookFilled][class*=colorBrand] { background-color: #e73c7e; }

/* ANIMATIONS */
@keyframes background-gradient {
  0%    { border-color: #ee7752; }
  15%   { border-color: #e73c7e; }
  30%   { border-color: #23a6d5; }
  45%   { border-color: #23d5ab; }
  60%   { border-color: #23a6d5; }
  75%   { border-color: #e73c7e; }
  100%  { border-color: #ee7752; }
}

@keyframes main-gradient {
  0%    { border-color: #ee7752; }
  15%   { border-color: #e73c7e; }
  30%   { border-color: #23a6d5; }
  45%   { border-color: #23d5ab; }
  60%   { border-color: #23a6d5; }
  75%   { border-color: #e73c7e; }
  100%  { border-color: #ee7752; }
}

[aria-label="Channels"] > li:is([class*=containerDefault]):last-child {
    border-bottom: 1px solid red !important;
    padding-bottom: 4px;
}

/* 
* LEGEND:
* VC = VENCORD 
* DS = DISCORD
*/

/* ANIMATIONS */
@keyframes VCUpdate {
    0%    { background-color: rgb(255, 0, 106); }
    25%   { background:rgb(138, 0, 122); }
    50%   { background:rgb(138, 0, 122); }
    100%  { background-color: rgb(255, 0, 106); }
}

@keyframes DSUpdate {
    0%    { background-color: rgb(255, 0, 106); }
    25%   { background:rgb(255, 65, 233); }
    50%   { background:rgb(255, 65, 233); }
    100%  { background-color: rgb(255, 0, 106); }
}

@keyframes DSUpdateFill {
    0%    { fill: rgb(183, 255, 0); }
    25%   { fill:rgb(65, 255, 106); }
    50%   { fill:rgb(65, 192, 255); }
    100%  { fill: rgb(255, 0, 174); }
}
/* /// */

.vc-notification-root {
  animation: VCUpdate 5s infinite ease-in-out;
}

[aria-label="Update Ready!"] {
  animation: DSUpdate 10s infinite ease;
  
  box-shadow: 0 0 15px rgba(255, 14, 159, 0.705) !important;
  
  border-radius: 5px !important;

  padding-left: 3px !important;
  padding-right: 3px !important;
  
}

[aria-label="Update Ready!"]:hover {
  path {
    transition: 350ms;
    animation: DSUpdateFill 1s infinite linear;
  }
}

[aria-label="Update Ready!"] path {
  fill: black;
  transition: 350ms;
}

[class*=focusLock] .buttons__7ecff {
    position: absolute;
    top: 4px !important;
    left: 92% !important;
}

[class*=focusLock] [class*=textArea] > div > div {
    padding: 0 !important;
}

.vc-rdb-input [class*=textArea] > div:first-child {
    float: right !important;
    width: 90% !important;
}

.vc-rdb-input [class*=textArea] > div:first-child > * {
    padding-top: 3px !important;
}

.vc-rdb-input [class*=textArea] > div:first-child > div:first-child {
    float: right !important;
}

/*---Lock Icon Recolor---*/
[class*=icon]:has(path[d^="M16 4h.5v"]) path[d^="M16 4h.5v"] {
    fill: #ff5050 !important;
    border: 1px solid rebeccapurple !important;
}

/* CHANNEL COLORS */
[class^=containerDefault] [class^=linkTop_] [aria-label*="Text"]  path          { fill: var(--text-channel-neon-alt); }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Voice"] path          { fill: var(--voice-channel-light); }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Forum"] path          { fill: var(--forum-channel-light); }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Announcement"] path   { fill: var(--announcement-channel-light); }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Stage"] path          { fill: var(--stage-channel-light); }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Rules"] path          { fill: var(--rules-channel-light); }

/* CHANGE ICON */
/* [class^=containerDefault] [class^=linkTop_] [aria-label*="Text"]            { content: var(--text-channel-icon); width: 20px; border-radius: 5px; }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Voice"]           { content: var(--voice-channel-icon); width: 20px; border-radius: 5px; }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Forum"]           { content: var(--forum-channel-icon); width: 20px; border-radius: 5px; }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Announcement"]    { content: var(--announcement-channel-icon); width: 20px; border-radius: 5px; }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Stage"]           { content: var(--stage-channel-icon); width: 20px; border-radius: 5px; }
[class^=containerDefault] [class^=linkTop_] [aria-label*="Rules"]           { content: var(--rules-channel-icon); width: 20px; border-radius: 5px; } */


/* Change Content within "New" message divider */
#---new-messages-bar {  }

[class*=channelInfo] { display: none !important; }

#my-account-tab > div > div:first-child, [class*=userSettingsSecurity]:has([class*=sectionTitle]), [class*=marginTop40]:has([class*=contents]) {
    border: 2px solid rgb(71, 71, 71);
    border-radius: 10px !important;
    background-color: var(--background-primary);
    padding: 10px !important;
}

[class*=marginTop40] > div :has([class*=noWrap]) { 
    border: 0;
    padding: 0 !important;
}


[class*=sidebarRegion] > div {
    border: 2px solid rgb(71, 71, 71);
    margin: 10px !important;
    border-radius: 10px !important;
}

[class*=standardSidebarView] > div[class*=sidebarRegion] { background-color: #141414; }
[class*=layer] div[class*=contentRegion] > div > div { background-color: #141414 !important; }
[class*=userSettingsSecurity] { padding: 20px !important; }
[class*=sectionTitle]:has([id=":r6r:"]) > h2 { color: white; }

/*discord loading page*/
.container__827e6.fixClipping__84826{
    background: 0 0;
    backdrop-filter: blur(10px);
}
.content_de05de { display: none; }

/* Shows mention on channel */
[class*=channelInfo] { display: block; }

/* Shows hover on messages */
[aria-label*="Messages in "] [class*=messageListItem] {
  transition: 300ms ease-in;
  border-radius: 5px !important;
  margin-top: 5px !important;

  &:hover {
    background-color: rgba(203,0,184,0.25);
    border-radius: 5px !important;
    margin-top: 5px !important;
    transition: 250ms ease-out;
  }
}

/* Update To Code */
[aria-label*="Invite"] {
    display: none !important;
}

/* message box */
.vc-rdb-input [class*=textArea] > div:first-child > div:first-child { float: none; }
.vc-rdb-input [class*=textArea] > div:first-child { float: none; }
[aria-label*="Message #"] > div { text-align: center; }


/* User Profile enlarge */
[aria-label="User Profile Modal"] [class*=small] {
    max-height: none !important;
}

[class*=notAppAsidePanel] > [class*=layerContainer] > [class*=layer]
> [aria-label="User Profile Modal"] > div > div > div > div {
    height: fit-content !important;
}

[class*=expressionPickerPositionLayer] {
    top: 20px !important;
}
